.flex {
    display: flex;

    &__column {
        flex-direction: column;
    }

    &__row {
        flex-direction: row;
    }

    &__spaced {
        justify-content: space-around;
    }

    &__between {
        justify-content: space-between;
    }

    &__center {
        justify-content: center;
    }

    &__align-center {
        align-items: center;
        text-align: center;
    }

    &__align-end {
        align-items: flex-end;
    }

    &__justify-end {
        justify-content: flex-end;
    }

}