@use "flex"as flex;


body {
  margin: 0 auto;
  background: linear-gradient(to right, #076585, #fff);
}

#title {
  text-align: center;
  font-family: 'Comfortaa',
    cursive;
  font-size: 4rem;
  padding-top: 50px;
}


.section {
  text-align: center;
  font-size: 2rem;
  font-family: 'Roboto Mono',
    monospace;

  &__input {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    filter: drop-shadow(4px 4px 6px rgb(185, 240, 222));

  }
}

.bottom {
  margin-top: 25px;
  height: 20vh;
}

button {
  margin-top: 25px;
  height: 50px;
  width: 100px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Comfortaa',
    cursive;
  cursor: pointer;

  &:hover {
    background-color: aquamarine;
  }
}

footer {
  font-family: 'Comfortaa',
    cursive;
  text-align: center;
}

#reverse {
  padding-bottom: 50px;
  cursor: pointer;
  transform: scale(0.95);

  &:hover {
    transform: scale(1);
  }
}